################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Engine/bin
/.vs
/Engine/obj
/Tests/bin
/Tests/obj
/MadChess.sln.DotSettings.user
/Engine/Engine.csproj.user
