################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MadChess.sln.DotSettings.user
/src/Core/bin
/src/Core/obj
/src/Engine/bin
/src/Engine/obj
/src/Engine/Engine.csproj.user
/tests/Tests/bin
/tests/Tests/obj
/tests/Tests/Tests.csproj.user
/Tests/obj
