################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MadChess.sln.DotSettings.user
/src/Core/bin
/src/Core/obj
/src/Core/Core.csproj.user
/src/Engine/bin
/src/Engine/obj
/src/Engine/Engine.csproj.user
src/Engine/Properties/PublishProfiles/Debug.pubxml.user
src/Engine/Properties/PublishProfiles/Release-x64.pubxml.user
src/Engine/Properties/PublishProfiles/Release-x86.pubxml.user
/tests/Unit Tests/bin
/tests/Unit Tests/obj
/tests/Unit Tests/Unit Tests.user
